<template>
    <form @submit.prevent="handleSubmit">
        <div class="slds-form">
            <div class="slds-form-element slds-form-element_stacked">
                <label class="slds-form-element__label" for="username">Username</label>
                <div class="slds-form-element__control">
                    <input
                        type="text"
                        v-model="username"
                        id="username"
                        placeholder="Enter Username"
                        class="slds-input"
                    >
                </div>
            </div>
            <div class="slds-form-element slds-form-element_stacked">
                <label class="slds-form-element__label" for="password">Password</label>
                <div class="slds-form-element__control">
                    <input
                        type="text"
                        v-model="password"
                        id="password"
                        placeholder="Enter Password"
                        class="slds-input"
                    >
                </div>
            </div>
            <button type="submit" class="slds-button slds-button_brand">Login</button>
        </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            username: "",
            password: ""
        };
    },
    methods: {
        handleSubmit() {
            const { username, password } = this;

            let formData = new FormData();
            formData.append('username', username);
            formData.append('password', password);

            fetch("/users/login", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                redirect: "follow",
                referrer: "no-referrer",
                body: formData
            })
                .then(response => response.json())
                .then(res => {
                    console.log(res);
                })
                .catch(err => {
                    console.error(err);
                });
        }
    }
};
</script>