<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>A GO Voting Poll Application With Pusher </title>
</head>

<body>
    <div id="msg" style="display: none; padding: 1em; position: fixed; margin: 0px 5px;"></div>
    <div id="app" class="container">
        <div class="row" style="margin: 1em 0em" v-for="(user, index) in users">
            <div class="card col-md-4" style="margin: 20px auto; width: 25rem; background: rgb(93, 95, 104)">
                <div class="card-body">
                    <p class="card-text text-center" style="font-size: 1.5em; color: white; font-weight: bold">
                        {{ user.name }}: {{ user.email }}
                    </p>
                    <form>
                        <div style="background: white; color: black; padding: 1em; border-radius: 5px;">
                            <span>Name: </span>
                            <input type="text" v-model="users[index].name" :name="user.name" />
                        </div>
                        <hr>
                        <div style="background: white; color: black; padding: 1em; border-radius: 5px;">
                            <span>Email: </span>
                            <input type="text" v-model="users[index].email" :name="user.email" />
                        </div>
                    </form>
                    <button class="btn btn-block"
                        style="margin: 1em 0; background: #1bff8b; cursor: pointer; font-weight: bold"
                        v-on:click="UpdateUser(index)"> Update User </button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            users: []
        },
        created: function () {
            axios.get('/users')
                .then(res => this.users = res.data.users ? res.data.users : [])
                .catch(e => this.failed('Unsuccesful'))
        },
        methods: {
            UpdateUser: function (index) {
                let targetUser = index + 1;
                axios.put('/user/' + targetUser, this.users[index])
                    .then(res => this.approved('Successful'))
                    .catch(e => this.failed('Unsuccesful'))
            },
            approved: function (data) {
                $("#msg").css({
                    "background-color": "rgb(94, 248, 94)",
                    "border-radius": "20px"
                });
                $('#msg').html(data).fadeIn('slow');
                $('#msg').delay(3000).fadeOut('slow');
            },
            failed: function (data) {
                $("#msg").css({ "background-color": "rgb(248, 66, 66)", "border-radius": "20px" });
                $('#msg').html(data).fadeIn('slow');
                $('#msg').delay(3000).fadeOut('slow');
            }
        }
    })
</script>

</html>